#instructor-name {
    font-size: 11px;
    color: grey;
  }
  .card-button {
    background-color: #4a2e91 !important;
    color: white !important;
    width: 100%;
    
   
  }
  .fs-11 {
    font-size: 11px;
  }
  .txt-grey {
    color: grey;
  }
  .popver-btn-container{
    width: 100%;
  }
  